* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_link{
 text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background: #00000024;
  align-items: center;
  height: 70px;
  /* color: white; */
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 75%;
}

.home,
.about,
.Contact,
.Services {
  text-decoration: none;
  /* color: white; */
  font-size: 20px;
  padding: 7px 14px;
  margin: 0 10px;
  cursor: pointer;
}

/* .sinup {
  border: 1px solid black;
  border-radius: 5px;
} */

.mobile-menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    left: 35px;
    top: 15px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    list-style: none;
    background: #00000035;
    transition: all 0.5s ease-in-out;
}
  

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 25px;
    padding: 7px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 25px;
  }

  .home,
  .about,
  .Contact,
  .Services {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 32px;
    transition: all 0.5s ease;
  }
  /* .sinup {
    border: none;
  } */
}
